* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px 0;
}
form{
    width: 350px;
    height: 350px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 30px;
    text-align: center;
    
}
form label{
    display: block;
    font-size: 16px;
    text-align: left;
    padding: 2px 0;
}
form input{
    width: 100%;
    padding: 4px 8px;
    margin: 0px 0 12px 0 ;
    outline: 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;

}
form #btn{
    /* text-align: left; */
    cursor: pointer;
    padding: 4px 12px ;
    outline: 0;
    font-size:16px ;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    background-color: #5a5ae9;
    color:white;
    box-shadow: 3px 5px 7px 1px #c7c7c7;
    
}
.main{
    display: flex;
    flex-wrap: wrap;
}
.main .items{
    position: relative;
    flex-basis: 23%;
    margin: 1%;
    margin-left: 35px;
    border: 1px solid #ccc;
    min-width: 100px;
    min-height: 150px;
    padding: 19px;
    padding-top: 24px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 2px #d2d2f5;
}
.main .items h4{
    font-weight: 400;

}
.main .items h5{
    font-weight: 500;
    font-family: sans-serif;
    margin-bottom: 8px;
    margin-top: 1px;

}
.main .items span{
    position: absolute;
    right: 3%;
    top: 3%;
    /* padding: 5px; */
    font-size: 21px;
    cursor: pointer;
}